@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1E1E1E;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 1.25rem;
    box-sizing: border-box;
}

section > div > div > div > form > fieldset {
    border: 0;
}

section > div > div > div > form > fieldset > input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    padding: 0.5rem;
    height: 2.5rem;
    margin-top: 0.313rem;
    margin-bottom: 0.625rem;
    border: 1px solid #8e8e8e;
    outline: none;
    border-radius: 0.313rem;
}

section > div > div > div > form > fieldset > label {
    color:#909092
}

button {
    margin: 0.625rem 0;
    width: 25rem;
    height: 3rem;
    background-color: #3056D3;
    border-radius: 0.625rem;
    border: 0;
    color: #fff
}

img {
    align-items: center;
    width: 21.875rem;
    margin-bottom: 3.125rem;
}

a {
    text-decoration: none;
    color: #ACB6BE;
}

.background {
    width: 40rem;
    height: 40rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
}

.logo-formulario {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reaver-acesso {
    padding-top: 1rem;
    width: 25rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.94rem;
}

.reaver-acesso > div:last-of-type {
    display: flex;
    gap: 0.313rem;
}

.novo-user > a {
    color:#3056D3;
    font-weight: 600;
}

.novo-user > p {
    color: #ACB6BE;
}
.custom-button {
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
    .background {
        width: 100%;
        height: auto;
        padding: 1.25rem;
        box-sizing: border-box;
    }

    .logo-formulario, .reaver-acesso {
        width: 100%;
    }

    button {
        width: 100%;
        height: 2.5rem;
    }

    img {
        max-width: 100%;
    }

    section > div > div > div > form > fieldset > input {
        height: 2.5rem;
        display: inline;
    }

    .reaver-acesso {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .novo-user {
        margin-top: 0.5rem;
    }
}