@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  background:  var(--foreground-rgb);
  color: var(--background-end-rgb);
}

body::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #EEB960; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}